@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lemon&family=Mukta&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Noto+Sans+Khmer:wght@100..900&display=swap');
.logo {
  font-family: 'Lemon', sans-serif;
}

.logo-nav {
  font-family: 'Roboto Slab', serif;
}

.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  background-size: cover; 
}

.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}

.intro h1 {
  font-family: "Noto Sans Khmer", sans-serif;
  color: #fff;
  font-size: 5vw; 
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.intro h1 span {
  font-weight: 800;
  color: #7ca330;
}

.intro p {
  color: #fff;
  font-family: "Noto Sans Khmer";
  font-size: 1.5vw; 
  font-weight: 300;
  line-height: 2vw;
  margin: 0 auto;
  margin-bottom: 4vw;
  text-align: center; 
}

header .intro-text {
  padding-top: 10vh;
  padding-bottom: 5vh;
  text-align: center;
}

.container {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}
