
/* Team Section */
#team {
    padding: 100px 0;
  }
  #team h4 {
    margin: 5px 0;
  }
  #team .team-img {
    width: 200px;
    height: 260px;
  }
  #team .thumbnail {
    background: transparent;
    border: 0;
  }
  #team .thumbnail .caption {
    padding: 10px 0 0;
    color: #888;
  }
 